*~
*.swp
Manifest.toml
!benchmarks/Manifest.toml
.ipynb_checkpoints
*.mat
*.tif
*.vscode
*.jld2
*.nc
#*.md
*.bin
#*.png
*.DS_Store
*.log
/docs/build
benchmarks/params.json

#useful things to ignore when testing driver scripts
/drivers/
driver_updated.jl
*.box
*.data
**/Attribution_driver
/melt_rate_parametrizations/
/benchmarks/LocalPreferences.toml
/benchmarks/output/
/benchmark_*_*_*/
/output*/
example_drivers/Rosie_examples/relax_driver_10km.jl
example_drivers/Rosie_examples/save_surf_speeds.jl
example_drivers/Rosie_examples/PIG_idealised.jl
example_drivers/Rosie_examples/inversion_driver_*km_ISMIP7.jl
example_drivers/MISMIP/MISMIP_driver.jl
gendata.m
PIG_ideal_bed_plot.m
Project.toml
!benchmarks/Project.toml
!example_drivers/MISMIP_PLUS/Project.toml
ismip_testing/*

#SLURM logging
*.err
*.out
